nav.navbar(ng-class="{'scroll-nav':isScrolling}")
  div.nav-top-container
    div.logo
      img(ng-src="{{nav.img}}", ng-click="jump('intro')")
    mobile-burger
  menu-options#drop-menu.slideable

div.overlay(ng-show="active")

section#intro
  // to add:
    drop down text and store bottom: listen. learn. network.
    come in from top: Northeastern University presents
      COLLEGE ALTERNATIVE Investment Summit 2016
  div.container.center
    div.jumbotron.intro-text
      img.nu-seal(src="/public/assets/img/nu-seal.png")
      h1.animated.fadeIn 2016 Collegiate Alternative Investment Summit
      div.apply-btn.animated.fadeIn COMING SOON
  //img.intro-bg

section#about
  h1.section-title.animated(ng-class="{slideInLeft:anAbout, 'not-visible':!anAbout}") {{about.title}}
  div.about-intro
    //
      this(or some) of this text should eventually fade in on scroll
    div.container.animated(ng-class="{slideInRight:anAboutPoints, 'not-visible':!anAboutPoints}")
      div.row
        div.col-md-4.about-point
          div.about-number Listen

        div.col-md-4.about-point
          div.about-number Learn

        div.col-md-4.about-point
          div.about-number Network

  div.container.center.billboard
    div.row
      div.brief {{about.summary1}}
    div.row
      div.brief {{about.summary2}}
  div.clear

section#speakers
  h1.section-title.animated(ng-class="{slideInLeft:anSpeakers, 'not-visible':!anSpeakers}") Past Speakers
  p.subtitle Check back for this year's speakers.
    | They will be posted here as they become known.
  div.container.animated(ng-class="{slideInRight:anSpeakerPics, 'not-visible':!anSpeakerPics}")
    div.row
      div.col-md-4.member-box(ng-repeat="speaker in speakers")
        div.img-responsive
          img(ng-src="{{speaker.img}}")
          div.info-appear
            p.speaker {{speaker.year}}
            //p {{speaker.company}}
            //p {{speaker.title}}
            p.topic {{speaker.topic}}
        p.member-name {{speaker.name}}
        p.ital {{speaker.title + ' at '}}
        p.ital {{speaker.company}}

section#faq
  h1.section-title.animated(ng-class="{slideInLeft:anFaq, 'not-visible':!anFaq}") FAQ

  div.faq-div.animated(ng-class="{slideInRight:anFaqs, 'not-visible':!anFaqs}")
    ul
      li(ng-repeat="faq in faqs")
        h2.faq-question {{faq.question}}
        p {{faq.answer}}

  div.contact-link-div
    a.contact-link(ng-click="jump('contact')") Don't see your question here?

section#location
  h1.section-title Location
  div#map
  div#location-text
    p 30 West Village F
    p.ital 40A Leon Street
    p.ital Boston, MA 02115

//
  section#sponsors
    h1.section-title.animated(ng-class="{slideInLeft:anSponsors, 'not-visible':!(anSponsors)}") Past Sponsors
    div.container
      div.row
        div.col-md-3.sponsor(ng-repeat="sponsor in sponsors")
          img.img-responsive(ng-src="{{sponsor.img}}")

    h1.section-title Past Corporate Affiliates
    div.container
      div.row
        div.col-md-3.sponsor(ng-repeat="a in affiliates")
          img.img-responsive(ng-src="{{a.img}}")

section#presentations
  h1.section-title.animated(ng-class="{slideInLeft:anPresentations, 'not-visible':!(anPresentations)}") Selected Presentations
  p.subtitle  From our 2014 Conference

  div.container.animated(ng-class="{slideInRight:anVids, 'not-visible':!anVids}")
    div.row
      div.col-md-6.member-box(ng-repeat="vid in presentations")
        div.embed-container
          iframe(width="640" height="360" ng-src="{{vid.url}}" frameborder="0" allowfullscreen)

section#team
  h1.section-title.animated(ng-class="{slideInLeft:anTeam, 'not-visible':!anTeam}") Management Committee
  div.container.animated(ng-class="{slideInRight:anTeamPics, 'not-visible':!anTeamPics}")
    div.row.row-centered
      div.col-md-4.member-box.col-centered(ng-repeat="member in team")
        a(target="_blank", ng-href="{{member.linkedin}}")
          div.img-responsive
            img(ng-src="{{member.img}}")
            div.info-appear
              i.fa.fa-linkedin.icon-appear.fa-5x
              //span.img-caption
              //p {{member.info}}
            p {{member.name}}

section#advisory-board
  h1.section-title.animated(ng-class="{slideInLeft:anAdvisory, 'not-visible':!anAdvisory}") Advisory Board
  div.container.animated(ng-class="{slideInRight:anAdvisoryPics, 'not-visible':!anAdvisoryPics}")
    div.row
      div.col-md-4.member-box(ng-repeat="member in advisoryBoard")
        a(target="_blank", ng-href="{{member.linkedin}}")
          div.img-responsive
            img(ng-src="{{member.img}}")
            div.info-appear
              i.fa.fa-linkedin.icon-appear.fa-5x
              //span.img-caption
              //p {{member.info}}
            p {{member.name}}


section#contact
  h1.section-title.animated Get In Touch
  div.contact-blurb
    p.subtitle Questions? Want to get involved?
    p.subtitle Please feel free to connect!
    //
      div.email
        a.social-btn(href="mailto:contactnucais@gmail.com") contactnucais@gmail.com
  div.social-links
    //
      a.social-btn
        i.fa.fa-linkedin.fa-2x
    a.social-btn(target="_blank", href="https://twitter.com/nucais")
      i.fa.fa-twitter.fa-2x
    a.social-btn(href="mailto:contactnucais@gmail.com")
      i.fa.fa-envelope.fa-2x
    a.social-btn(target="_blank", href="https://www.facebook.com/officialNUCAIS")
      i.fa.fa-facebook.fa-2x
