nav.navbar(ng-class="{'scroll-nav':isScrolling}")
  div.nav-top-container
    div.logo
      img(ng-src="{{nav.img}}", ng-click="jumpTop()")
    mobile-burger
  menu-options#drop-menu.slideable

div.overlay(ng-show="active")

section#intro
  // to add:
    drop down text and store bottom: listen. learn. network.
    come in from top: Northeastern University presents
      COLLEGE ALTERNATIVE Investment Summit 2016
  div.container.center
    div.jumbotron.intro-text
      img.nu-seal(src="/public/assets/img/nu-seal.png")
      h1.animated.fadeIn 2016 Collegiate Alternative Investment Summit
      button.apply-btn.animated.fadeIn Coming Soon
  img.intro-bg

section#about
  h1.section-title.animated(ng-class="{slideInLeft:anAbout, 'not-visible':!anAbout}") {{about.title}}
  div.about-intro
    //
      this(or some) of this text should eventually fade in on scroll
    div.container.animated(ng-class="{slideInRight:anAboutPoints, 'not-visible':!anAboutPoints}")
      div.row
        div.col-md-4.about-point
          div.about-number Listen

        div.col-md-4.about-point
          div.about-number Learn

        div.col-md-4.about-point
          div.about-number Network

  div.container.center.billboard
    div.row
      div.brief {{about.summary1}}
    div.row
      div.brief {{about.summary2}}
  div.clear

section#speakers
  h1.section-title.animated(ng-class="{slideInLeft:anSpeakers, 'not-visible':!anSpeakers}") Past Speakers
  p.subtitle Check back for this year's speakers.
    | They will be posted here as they become known.
  div.container.animated(ng-class="{slideInRight:anSpeakerPics, 'not-visible':!anSpeakerPics}")
    div.row
      div.col-md-4.member-box(ng-repeat="speaker in speakers")
        div.img-responsive
          img(ng-src="{{speaker.img}}")
          div.info-appear
            p {{speaker.year}}
            p {{speaker.topic}}
        p {{speaker.name}}

section#faq
  h1.section-title.animated(ng-class="{slideInLeft:anFaq, 'not-visible':!anFaq}") FAQ

  ul
    li(ng-repeat="faq in faqs")
      h2.faq-question {{faq.question}}
      p {{faq.answer}}

  a.contact-link(href="#contact") Don't see your question here?

section#sponsors
  h1.section-title.animated(ng-class="{slideInLeft:anSponsors, 'not-visible':!(anSponsors)}") Sponsors
  div.container
    div.row
      div.col-md-3.sponsor(ng-repeat="sponsor in sponsors")
        img.img-responsive(ng-src="{{sponsor.img}}")

section#team
  h1.section-title.animated(ng-class="{slideInLeft:anTeam, 'not-visible':!anTeam}") Our Team
  div.container.animated(ng-class="{slideInRight:anTeamPics, 'not-visible':!anTeamPics}")
    div.row
      div.col-md-4.member-box(ng-repeat="member in team")
        a(target="_blank", ng-href="{{member.linkedin}}")
        img(ng-src="{{member.img}}")
        span.img-caption
        h2.caption-header {{member.name}}
        p {{member.info}}


section#contact
  h1.section-title.animated Get In Touch
  div.contact-blurb
    p.subtitle Questions? Want to get involved?
    p.subtitle Please feel free to connect via
    div.email
      a.social-btn(href="mailto:contactnucais@gmail.com") nucais@gmail.com
    p.subtitle or
  div.social-links
    //
      a.social-btn
        i.fa.fa-linkedin.fa-4x
    a.social-btn(target="_blank", href="https://twitter.com/nucais")
      i.fa.fa-twitter.fa-4x
    a.social-btn(target="_blank", href="https://www.facebook.com/officialNUCAIS")
      i.fa.fa-facebook.fa-4x


footer
  div.wrapper
