nav.navbar
  div.container
    ul.nav-ul
      li
        a(href="#fb", target="_blank")
      li
        a(href="#twitter", target="_blank")
      div.tk-ls
        li
          a(href="#about") About
        li
          a(href="#faq") FAQ
        li
          a(href="#team") Team
        li
          a(href="#sponsors") Sponsors
        li
          a(href="#partners") Partners
        li
          a(href="#location") Location



section#intro
  div
    p {{welcome}}

section#about

section#faq

section#team

section#sponsors

section#partners

section#location

footer
  div.wrapper
