nav.navbar
  div.container.center
    div.burgerBtn(slide-toggle="#drop-menu")
      i.fa.fa-bars
    menu-options#drop-menu.slideable

section#intro
  div.container.center
    h1.billboard {{welcome}}

section#about

section#faq

section#team

section#sponsors

section#partners

section#location

footer
  div.wrapper
