nav.navbar
  div.nav-top-container
    div.logo
      h1 nuCAIS
    mobile-burger
  menu-options#drop-menu.slideable

div.overlay(ng-show="active")

section#intro
  // to add:
    drop down text and store bottom: listen. learn. network.
    come in from top: Northeastern University presents
      College Alternative Investment Summit 2016
  div.container.center
    h1.billboard {{welcome}}


section#about
  h1.section-title {{about.title}}
  div.about-intro
    //
      this(or some) of this text should eventually fade in on scroll
    p
      span.stress 2
      | days
    p
      span.stress 11
      | Speakers
    p
      | together managing
    p
      | over
      span.stress $x
      | in
    p
      span.impress alternative investments

  div.about-billboard
    div.brief {{about.summary}}
  div.clear

section#pastSpeakers
  h1.section-title Past Speakers
  p.subtitle Check back for this year's speakers.
    | They will be posted here as they become known.
  div.about-billboard
    ul
      li.speaker-li(ng-repeat="speaker in speakers")
        p.bold {{speaker.year}}
        img(ng-src="{{speaker.img}}")
        p {{speaker.name}}
        p {{speaker.topic}}

section#faq
  h1.section-title FAQ

  ul
    li(ng-repeat="faq in faqs")
      h2.faq-question {{faq.question}}
      p {{faq.answer}}

  a.contact-link(href="#contact") Don't see your question here?


section#team
  h1.section-title Our Team
  div.container
    div.row
      div.col-md-4.member-box(ng-repeat="member in team")
        img(ng-src="{{member.img}}")
        span.img-caption
          h2.caption-header {{member.name}}
          p {{member.info}}



section#sponsors
  h1.section-title Sponsors
  div.container
    div.row
      div.col-md-3.sponsor(ng-repeat="sponsor in sponsors")
        img.img-responsive(ng-src="{{sponsor.img}}")

section#contact
  h1.section-title Get In Touch
  div.contact-blurb
    p Questions? Offers?
    p Please feel free to connect via
    span.email
      a(href="mailto:nucais@gmail.com") nucais@gmail.com
    p or
  div.social-links
    i.fa-linkedin
    i.fa-instagram
    i.fa-facebook



footer
  div.wrapper
