nav.navbar(ng-class="{'scroll-nav':isScrolling}")
  div.nav-top-container
    div.logo
      img(ng-src="{{nav.img}}", ng-click="jump('intro')")
    mobile-burger
  menu-options#drop-menu.slideable

div.overlay(ng-show="active")

section#intro
  div.container.center
    div.jumbotron.intro-text
      div.top-title-contain
        h1.intro-year.animated.fadeIn 2017
        h2.animated.fadeIn COLLEGIATE ALTERNATIVE INVESTMENT SUMMIT
      div.line-divider.animated.fadeIn
      img.nu-seal(src="/public/assets/img/nu-seal.png")
      div.intro-date-contain
        h2.animated.fadeIn APRIL 7 - 8
      a.apply-btn.animated.fadeIn(ng-hide="hideButton", target="_blank", href="https://commerce.cashnet.com/SFDMSB2016") REGISTER
      h2.registration-warning {{getTimeLeftMessage()}}

section#about
  h1.section-title.animated(ng-class="{slideInLeft:anAbout, 'not-visible':!anAbout}") {{about.title}}
  h2.sub-highlight LISTEN <span class="small-dot">•</span> LEARN <span class="small-dot">•</span> NETWORK
  div.line-divider
  div.about-intro
      img.marquee(src="/public/assets/img/conf_marquee.png")

  div.container.center.billboard
    div.row
      div.brief {{about.summary1}}
    div.row
      div.brief {{about.summary2}}
  div.clear

section#speakers
  h1.section-title.animated(ng-class="{slideInLeft:anSpeakers, 'not-visible':!anSpeakers}") 2016 Speakers
  div.line-divider
  div.container.animated(ng-class="{slideInRight:anSpeakerPics, 'not-visible':!anSpeakerPics}")
    div.row.speaker-classification Keynote Speakers
    div.row.speaker-box(ng-repeat="speaker in speakers")
      div.speaker-spacer(ng-if="speaker.keynote")
        div.speaker-img.col-md-3
          img(ng-src="{{speaker.img}}")

        div.speaker-info.col-md-9
          h2.member-name {{speaker.name}}
          h3.ital {{speaker.title + (speaker.preposition ? ' of ' : ' at ') + speaker.company}}
          p.speaker-bio {{speaker.bio}}
          p.speaker-bio.multiPar {{speaker.bioTwo}}
          p.speaker-bio.multiPar {{speaker.bioThree}}

    div.row.speaker-classification Speakers
    div.row.speaker-box(ng-repeat="speaker in speakers")
      div.speaker-spacer(ng-if="!speaker.keynote")
        div.speaker-img.col-md-3
          img(ng-src="{{speaker.img}}")

        div.speaker-info.col-md-9
          h2.member-name {{speaker.name}}
          h3.ital {{speaker.title + (speaker.preposition ? ' of ' : ' at ') + speaker.company}}
          p.speaker-bio {{speaker.bio}}
          p.speaker-bio.multiPar {{speaker.bioTwo}}
          p.speaker-bio.multiPar {{speaker.bioThree}}

section#schedule
  h1.section-title.animated(ng-class="{slideInLeft:anSchedule, 'not-visible':!anSchedule}") 2016 Schedule
  div.line-divider
  div.container.animated(ng-class="{fadeInUp:anScheduleChart, 'not-visible':!anScheduleChart}")
    h2 Alumni Panel
    h3 Friday, April 1, 6 PM - 9 PM
    div.table-responsive
      table.table.schedule-table.table-condensed
        thead
          tr(ng-repeat="row in schedule.friday")
            td.time-cell {{row.time}}
            td.activity-cell {{row.activity}}
            td.speaker-cell {{row.speaker}}

    h2 Conference
    h3 Saturday, April 2, 9 AM - 4 PM
    div.table-responsive
      table.table.table-condensed.schedule-table
        thead
          tr(ng-repeat="row in schedule.saturday")
            td.time-cell {{row.time}}
            td.activity-cell {{row.activity}}
            td.speaker-cell {{row.speaker}}


section#location
  h1.section-title Location
  div.container
    div.row.row-centered
      div.col-md-12#map.col-centered
    div.row.row-centered.location-text-holder
      div.col-md-6.location-text
        h2 Conference
        p.ital 20 West Village F
        p.ital 40A Leon Street
        p.ital Boston, MA 02115
      div.col-md-6.location-text
        h2 Alumni Panel
        p.ital Alumni Center
        p.ital 716 Columbus Ave
        p.ital Boston, MA 02120

section#faq
  h1.section-title.animated(ng-class="{slideInLeft:anFaq, 'not-visible':!anFaq}") FAQ
  div.faq-div.animated(ng-class="{slideInRight:anFaqs, 'not-visible':!anFaqs}")
    ul
      li(ng-repeat="faq in faqs")
        h2.faq-question {{faq.question}}
        p {{faq.answer}}

  div.contact-link-div
    a.contact-link(ng-click="jump('contact')") Don't see your question here?

section#sponsors
  h1.section-title.animated(ng-class="{slideInLeft:anSponsors, 'not-visible':!(anSponsors)}") 2016 Sponsors
  div.line-divider
  div.container
    div.row.row-centered
      div.col-md-6.col-centered.sponsor(ng-repeat="sponsor in sponsors")
        a(ng-class="{clickable: sponsor.clickable}", ng-href="{{sponsor.link}}")
          img.img-responsive.sponsor-img(ng-src="{{sponsor.img}}")
        p.sponsor-title {{sponsor.title}}
        p.sponsor-facts(ng-if="sponsor.hasFacts") For all your <a target="_blank", href="http://www.wallstreetoasis.com/guide/investment-banking-interview-prep-questions">investment banking</a>, <a target="_blank", href="http://www.wallstreetoasis.com/guide/private-equity-interview-prep-questions">private equity</a> and <a target="_blank", href="http://www.wallstreetoasis.com/guide/hedge-fund-interview-questions">hedge fund</a> interview prep needs

section#press-releases
  h1.section-title 2016 Press Releases
  div.line-divider
  div.container
    div.row.row-centered
      div.col-md-3.col-centered.black-border(ng-repeat="p in press", ng-class="{'small-padding-top': p.paddingTop, 'extra-padding': p.extraPadding}")
        a(target="_blank", ng-href="{{p.link}}")
          img.img-responsive.press-release(ng-src="{{p.img}}")

//
  h1.section-title Past Corporate Affiliates
  div.container
    div.row
      div.col-md-3.sponsor(ng-repeat="a in affiliates")
        img.img-responsive(ng-src="{{a.img}}")

section#past-speakers
  h1.section-title.animated(ng-class="{slideInLeft:anPastSpeakers, 'not-visible':!anPastSpeakers}") Past Keynote Speakers
  div.container.animated(ng-class="{slideInRight:anPastSpeakersPics, 'not-visible':!anPastSpeakersPics}")
    div.row
      div.col-md-3.member-box(ng-repeat="speaker in pastSpeakers")
        div.img-responsive
          img(ng-src="{{speaker.img}}")
        p.member-name {{speaker.name}}
        p.ital {{speaker.title + ' at '}}
        p.ital {{speaker.company}}


section#presentations
  h1.section-title.animated(ng-class="{slideInLeft:anPresentations, 'not-visible':!(anPresentations)}") Selected Presentations
  p.subtitle  From our 2013 and 2014 Conferences

  div.container.animated(ng-class="{slideInRight:anVids, 'not-visible':!anVids}")
    div.row.row-centered
      div.col-md-6.col-centered.member-box(ng-repeat="vid in presentations")
        div.embed-container
          iframe(width="640" height="360" ng-src="{{vid.url}}" frameborder="0" allowfullscreen)

section#team
  h1.section-title.animated(ng-class="{slideInLeft:anTeam, 'not-visible':!anTeam}") Management Committee
  div.line-divider
  div.container.animated(ng-class="{slideInRight:anTeamPics, 'not-visible':!anTeamPics}")
    div.row.row-centered
      div.col-md-3.col-sm-1.member-box.col-centered(ng-repeat="member in team")
        a(target="_blank", ng-href="{{member.linkedin}}")
          div.img-responsive
            img(ng-src="{{member.img}}")
            div.info-appear
              i.fa.fa-linkedin.icon-appear.fa-5x
              //span.img-caption
              //p {{member.info}}
            p {{member.name}}
            p.ital {{member.title}}

section#advisory-board
  h1.section-title.animated(ng-class="{slideInLeft:anAdvisory, 'not-visible':!anAdvisory}") Advisory Board
  div.line-divider
  div.container.animated(ng-class="{slideInRight:anAdvisoryPics, 'not-visible':!anAdvisoryPics}")
    div.row
      div.col-md-3.col-centered.member-box(ng-repeat="member in advisoryBoard")
        a(target="_blank", ng-href="{{member.linkedin}}")
          div.img-responsive
            img(ng-src="{{member.img}}")
            div.info-appear
              i.fa.fa-linkedin.icon-appear.fa-5x
              //span.img-caption
              //p {{member.info}}
            p {{member.name}}
            p.ital {{member.title}}


section#contact
  h1.section-title.animated Get In Touch
  div.contact-blurb
    //p.subtitle Questions?   Want to get involved?   Please feel free to connect!
    div.line-divider.white
    //
      div.email
        a.social-btn(href="mailto:contactnucais@gmail.com") contactnucais@gmail.com
  div.social-links
    a.social-btn(target="_blank", href="https://www.linkedin.com/groups/4541006")
      i.fa.fa-linkedin.fa-2x
    a.social-btn(href="mailto:contactnucais@gmail.com")
      i.fa.fa-envelope.fa-2x
    a.social-btn(target="_blank", href="https://www.facebook.com/officialNUCAIS")
      i.fa.fa-facebook.fa-2x
