nav.navbar
  div.nav-top-container
    div.logo
      h1 nuCAIS
    mobile-burger
  menu-options#drop-menu.slideable

div.overlay(ng-show="active")

section#intro
  div.container.center
    h1.billboard {{welcome}}


section#about

section#faq

section#team

section#sponsors

section#partners

section#location

footer
  div.wrapper
