nav.navbar
  div.nav-top-container
    div.logo
      h1 NUCAIS
    mobile-burger
  menu-options#drop-menu.slideable

section#intro
  div.container.center
    h1.billboard {{welcome}}

section#about

section#faq

section#team

section#sponsors

section#partners

section#location

footer
  div.wrapper
