/*
 * Variables
 */
$bg-color: #ffffff;
$text-color: #000000;
$text-font: 'Roboto', sans-serif;

/*
 * Mixins
 */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
    -ms-border-radius: $radius;
        border-radius: $radius;
}

@mixin center-horiz() {
  margin-right: auto;
  margin-left: auto;
}

@mixin bbrd($clr) {
  border: 1px solid $clr;
}

@mixin clear-padding() {
  padding: 0px 0px 0px 0px;
}

@mixin clear-margin() {
  margin: 0px 0px 0px 0px;
}

/*
 * Fonts
 */
 @import url(https://fonts.googleapis.com/css?family=Roboto);

/*
 * Default Styles
 */

 html, body {
   @include clear-margin();
   @include clear-padding();
 }

#intro {
  height: 100vh;
  background: $bg-color;
  font-family: $text-font;
  color: $text-color;
  background: yellow;
  @include bbrd(orange);

}

.container {
  @include clear-margin();
  @include clear-padding();
}

.center {
  @include center-horiz();
  @include bbrd(black);
}

/*
 * Animations
 */

/*
 * Small Screens
 */

//======== NavBar ==========\\

.navbar {
  @include clear-padding();
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.5);
}

.nav-list-container {
  @include center-horiz();
  @include bbrd(black);
  @include clear-padding();
  @include clear-margin();
  width: 100%;
}

.burgerBtn {
  @include center-horiz();
  display: block;
  margin-top: 3px;
  cursor: pointer;
  text-align: center;
}


.nav-list {
  list-style-type: none;
  @include center-horiz();
  @include bbrd(blue);
  @include clear-padding();
}

 .menu-item {
   display: block;
   margin: 0 auto;
   width: 100%;
   @include bbrd(red);
   text-align: center;
 }

 //======== Section - Intro ==========\\

#intro container {
  
}

 .billboard {
   font-size: 100px;
   text-align: center;
 }


 //@media screen and (max-size)
