/*
 * Variables
 */
$bg-color: #ffffff;
$text-color: #000000;
$text-font: 'Roboto', sans-serif;

/*
 * Mixins
 */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
    -ms-border-radius: $radius;
        border-radius: $radius;
}

@mixin center-horiz() {
  margin-right: auto;
  margin-left: auto;
}

/*
 * Fonts
 */
 @import url(https://fonts.googleapis.com/css?family=Roboto);

/*
 * Default Styles
 */

#intro {
  height: 100vh;
  background: $bg-color;
  font-family: $text-font;
  color: $text-color;
}



/*
 * Small Screens
 */

//======== NavBar ==========\\

.nav-list-container {
  @include center-horiz();
}
.nav-list {
  list-style-type: none;
}

 .menu-item {

 }

 //@media screen and (max-size)
